*:not(img):not(.mySpan) {
  text-align: center;
  font-family: Trebuchet MS;
  margin: 5px;
}
body {
  background-color: #a29bb6;
}
h4 {
  color: aliceblue;
  background-color: #413e49;
}
.paper {
  padding: 5px;
  margin: auto;
  margin-top: 0px;
  width: 50%;
}
.card {
  padding: 5px;
  min-width: 450px;
  max-width: 450px;
}
.mySpan {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.newGroup {
  max-width: 200%;
  max-height: 200%;
  min-width: 200%;
  min-height: 200%;
  padding: 20px;
  margin: 10px;
}
span,
.myNewIngredientPage {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  max-height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.myNewIngredientPage {
  margin: 10px;
  padding: 10px;
  max-height: 300px;
}
.myAccordion {
  border-radius: 10px;
  text-align: center;
  margin: auto;
  width: 100%;
  padding: 10px;
}
.recipeListPage {
  background-color: #a29bb6;
  margin: 0px;
  padding: 0px;
  max-height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.button {
  border-radius: 17px;
  display: inline-block;
  font-size: 19px;
  padding: 10px;
  width: 100%;
  height: 100%;
  margin-bottom: 40px;
  text-transform: uppercase;
  background-color: #e4d9ff;
}
.textField {
  width: 80%;
  height: 80%;
}
img {
  border: solid 2px #a29bb6;
  border-radius: 10px;
  display: inline-block;
  padding: 0px;
  max-width: 85%;
  max-height: auto;
  margin: auto;
  width: 50%;
}
.appBar {
  background-color: purple;
  color: white;
}
.link {
  color: aliceblue;
}
